/* body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  padding-top:10em;
}

* { color:#fff; text-decoration: none;} */
/* 
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


#typed {
    display: inline;
}
 */


 .body { background-color:#F5F5F5}
/* #3CB371 */
#main-body
{
    height: 100%;
    /* background-color: red; */
}
.info-labels 
{ 
    padding: 8px 8px 8px 8px; 
    font-size: 18px;
    color:blue;
    font-family:Times New Roman Times, serif;
} 

.type-writer-area
{
    background-color: white;
    border-style: solid;
    border-color: black;
    color:blue;
    padding: 10px 10px 10px 10px; 
    /* font-style: italic; */
    font-size: 18px;
    font-family:Times New Roman Times, serif;
}

#contacts-footer
{
    margin-bottom: -10px;
}